<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shopVariety</key>
		<integer>1</integer>
		<key>shopID</key>
		<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
		<key>shopName</key>
		<string>林记纯味</string>
		<key>shopTpye</key>
		<integer>1</integer>
		<key>goodsModel</key>
		<array>
			<dict>
				<key>goodsRecommendedSize</key>
				<string>推荐 70-100斤</string>
				<key>goodsColor</key>
				<string>粉色</string>
				<key>goodsSize</key>
				<string>S</string>
				<key>goodsOldPrice</key>
				<integer>999</integer>
				<key>goodsName</key>
				<string>欧比亚斯</string>
				<key>goodsImageUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/8063XD-3小_20160419103234235.png</string>
				<key>goodsNewPrice</key>
				<integer>180</integer>
				<key>goodsQty</key>
				<integer>17</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopVariety</key>
		<integer>3</integer>
		<key>shopTpye</key>
		<integer>2</integer>
		<key>shopID</key>
		<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
		<key>shopName</key>
		<string>哈佛斯顿</string>
		<key>goodsModel</key>
		<array>
			<dict>
				<key>goodsSize</key>
				<string>XL</string>
				<key>goodsColor</key>
				<string>蓝色</string>
				<key>goodsRecommendedSize</key>
				<string>推荐 100-150斤</string>
				<key>goodsOldPrice</key>
				<integer>77</integer>
				<key>goodsName</key>
				<string>哈佛斯顿</string>
				<key>goodsImageUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/未标题-1_20160416175411242_20160420113120500.png</string>
				<key>goodsNewPrice</key>
				<integer>42</integer>
				<key>goodsQty</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopVariety</key>
		<integer>2</integer>
		<key>shopTpye</key>
		<integer>3</integer>
		<key>shopID</key>
		<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
		<key>shopName</key>
		<string>成虹</string>
		<key>goodsModel</key>
		<array>
			<dict>
				<key>goodsColor</key>
				<string>黄色</string>
				<key>goodsSize</key>
				<string>L</string>
				<key>goodsRecommendedSize</key>
				<string>推荐 80-100斤</string>
				<key>goodsOldPrice</key>
				<integer>26</integer>
				<key>goodsName</key>
				<string>成虹</string>
				<key>goodsImageUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goodsNewPrice</key>
				<integer>13</integer>
				<key>goodsQty</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>goodsRecommendedSize</key>
				<string>推荐 80-83斤</string>
				<key>goodsColor</key>
				<string>紫色</string>
				<key>goodsOldPrice</key>
				<integer>36</integer>
				<key>goodsSize</key>
				<string>S</string>
				<key>goodsName</key>
				<string>成虹</string>
				<key>goodsImageUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goodsNewPrice</key>
				<integer>6</integer>
				<key>goodsQty</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>shopVariety</key>
		<integer>6</integer>
		<key>shopTpye</key>
		<integer>5</integer>
		<key>shopID</key>
		<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
		<key>shopName</key>
		<string>测试品牌01</string>
		<key>goodsModel</key>
		<array>
			<dict>
				<key>goodsRecommendedSize</key>
				<string></string>
				<key>goodsSize</key>
				<string>M</string>
				<key>goodsColor</key>
				<string>黑色</string>
				<key>goodsOldPrice</key>
				<integer>78</integer>
				<key>goodsName</key>
				<string>测试品牌01</string>
				<key>goodsImageUrl</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>goodsNewPrice</key>
				<integer>13</integer>
				<key>goodsQty</key>
				<integer>78</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
